:root {
    --bg-primary: #C0C0C0;
    --bg-secondary: #FFFFFF;
    --bg-light-grey: #EDEDED;
    --bg-action-light: #EFEFEF;
    --bg-black: #000000;
    --bg-action: #239852;
    --text-color-dark: #000000;
    --text-color-light: #A8A8A8;
    --text-color-gray: #656565;
    --text-color-white: #FFFFFF;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    height: 80vh;
    background-color: var(--bg-primary);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    max-height: 5rem;
    background-color: #FFFFFF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-right: 2rem;
    list-style: none;
    color: var(--text-color-dark);
}

#redirectHome {
    font-weight: 700;
    font-size: 1.5rem;
    width: fit-content;
    border: none;
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.navigation a {
    color: var(--text-color-dark);
}

.navigation :last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 394px;
}

.search-bar {
    height: 47px;
    width: 100%;
    background-color: var(--bg-light-grey);
    border: none;
}

.search-button {
    height: 47px;
    border: none;
    background-color: var(--bg-light-grey);
    cursor: pointer;
}

.profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    object-fit: cover;
    object-position: center;
    width: 3rem;
}

.profile-button {
    text-decoration: none;
    border: none;
    color: var(--bg-secondary);
    background-color: var(--bg-action);
    padding: .75rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}

/* apply form */

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.apply-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-secondary);
    max-width: 70%;
    height: 30rem;
    border-radius: 10px;
    padding: 2rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.input-container label {
    width: 10rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
}

.input-container input {
    background-color: var(--bg-light-grey);
    font-size: 1rem;
    width: 15rem;
    height: 2rem;
    text-align: start;
    border: none;
}

.apply-form button {
    border: none;
    color: var(--bg-secondary);
    background-color: var(--bg-black);
    padding: .75rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.apply-form button:hover {
    background-color: var(--bg-action);
    color: var(--text-color-white);

    transition: all .25s ease-in-out;
}